%h1 Listing blocks

%table
  %thead
    %tr
      %th Block Height
      %th Hash
      %th Transactions
      %th Total Output

  %tbody
    - @blocks.each do |block|
      %tr
        %td= link_to block.height.to_s, 'blocks/' << block.height.to_s
        %td
          = block.blockHash.to_s
        %td
          = (block.transactions.length).to_s
        %td
          - total_out = 0.0
          - block.transactions.each do |tx|
            - total_out += tx.totalOutput
          = total_out.to_s
        -#%td= link_to 'Edit', edit_block_path(block)
        -#%td= link_to 'Destroy', block, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

-#= link_to 'New Block', new_block_path
