%div.col-lg-6
  %h1.white Latest Blocks

%div.col-xs-9.col-md-7
  %table.table.white
    %thead
      %tr
        %th Block Height
        %th Hash
        %th Transactions
        %th Total Output

    %tbody
      - @blocks.each do |block|
        %tr
          %td= link_to block.height.to_s, 'blocks/' << block.height.to_s
          %td
            = block.blockHash.to_s
          %td
            = (block.transactions.length).to_s
          %td
            = totalOut(block)
