%div
  %h1.white Block
  %hr
  %span.breadcrumb= link_to 'Home', root_path
  %span /
  %span.breadcrumb Block: #{@block.height.to_s}

%div
  %div.col-lg-4
    %div.box
      %div.box-content
        %h1 Block Info
        %hr
        Block info will go here

  %div.col-lg-8
    %div.box
      %div.box-content
        %h1 Transactions
        %hr
        Transactions will go here